@(user: models.user.User)

@import scala.collection.immutable.Map

@template_app("Dashboard", user, "dashboard", Map("dashboard" -> "Dashboard")) {
	
	<p>Welcome to GEVATT! Use this application to analyse VCF files and browse genetic information of your patients.</p>
	
	<h2>Getting started</h2>
	<p>Navigate to the <a href="/patients">patients page</a> and browse through earlier uploaded patients data or <a href="/patients/add">add a new patient.</a></p>
	
	<h2>About</h2>
	<p>GEVATT (GEnetic Variations Analyzer Through Triodata) is a context project at the TU Delft by: 
		<ul>
			<li>Willem Jan Glerum;</li>
			<li>Ruben Bes;</li>
			<li>Robbert van Stavere;n</li>
			<li>Mathijs Hoogland;</li>
			<li>Jasper Denkers.</li>
		</ul>
	</p>
	
}