@(patient: models.patient.Patient, mutation: models.mutation.Mutation, user: models.user.User, proteinsData: String, positionsData: String, nearbyMutations: String)

@import scala.collection.immutable.Map

@scripts = {
<script src="@routes.Assets.at("javascripts/views/mutation/proteins.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/views/mutation/position.js")" type="text/javascript"></script>
}

@template_app("Mutation " + mutation.getRsID + " of patient " + patient.getName + " " + patient.getSurname, user, "patients", Map("/patients" -> "Patients", ("/patients/" + patient.getId) -> (patient.getName + " " + patient.getSurname), ("/patients/" + patient.getId + "/mutation/" + mutation.getId) -> ("Mutation " + mutation.getRsID)), scripts) {
	
	<h3>Position</h3>
	<p class="example" original-title="Hello World">Hover over me</p>	
	<div class="position" data-startpoint="@mutation.getPositionGRCH37()" data-endpoint="@mutation.getEndPoint()" data-mid="@mutation.getRsID()">
		<script type="text/javascript">
		var initPositionsData = @Html(positionsData);
		</script>
	</div>
	
	@nearbyMutations
        
	<table class="table-mutation table">
		<thead>
			<tr>
				<th>Type</th>
				<th>rsID</th>
				<th>Chromosome</th>
				<th>Child</th>
				<th>Father</th>
				<th>Mother</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@mutation.getMutationType()</td>
				<td>@mutation.getRsID()</td>
				<td>@mutation.getChromosome()</td>
				<td>@mutation.child()</td>
				<td>@mutation.father()</td>
				<td>@mutation.mother()</td>
			</tr>
		</tbody>
	</table>
	
	<h3>Protein relationships</h3>
	
	<script type="text/javascript">
		var initProteinsData = @Html(proteinsData);
	</script>
	
	<div class="visualisation-proteins-relations">
		<form class="form-inline" role="form">
			<div class="row">
  				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-addon">Limit</span>
						<input type="text" class="form-control" id="limit" placeholder="Limit">
					</div>
				</div>
  				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon">Threshold</span>
						<input type="text" class="form-control" id="threshold" placeholder="Threshold">
					</div>
				</div>
  				<div class="col-lg-7">
					<a class="btn btn-default revisualise" data-patient="@patient.getId()" data-mutation="@mutation.getId()">Revisualise</a>
				</div>
			</div>
		</form>
		
		<div id="canvas"></div>
		
		<p class="bg-warning no-proteins" style="display:none">No related proteins found...</p>
	</div>
	
	<h3>Proteins overview</h3>

	<table class="table-proteins table table-hover" id="table-proteins">
		<thead>
			<tr>
				<th>Name</th>
				<th>Annotations</th>
				<th>Disease</th>
				<th>Related mutations</th>
			</tr>
		</thead>
		<tbody>
			<tr class="no-proteins not-clickable" style="display:none"><td colspan="6">No related proteins found...</td></tr>
		</tbody>
	</table>
}