@(patient: Patient, mutation: Mutation, user: User)

@template_app("Mutation " + mutation.getRsID + " of patient " + patient.getName + " " + patient.getSurname, user, "patients") {
	
	<h2>Position</h2>
	<div class="position"></div>
	
	<table class="table-mutation table">
		<thead>
			<tr>
				<th>Type</th>
				<th>rsID</th>
				<th>Chromosome</th>
				<th>Child</th>
				<th>Father</th>
				<th>Mother</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@mutation.getMutationType()</td>
				<td>@mutation.getRsID()</td>
				<td>@mutation.getChromosome()</td>
				<td>@mutation.child()</td>
				<td>@mutation.father()</td>
				<td>@mutation.mother()</td>
			</tr>
		</tbody>
	</table>
}