@(patient: Patient, mutation: Mutation, user: User, proteinsData: String)

@template_app("Mutation " + mutation.getRsID + " of patient " + patient.getName + " " + patient.getSurname, user, "patients") {
	
	<table class="table-mutation table">
		<thead>
			<tr>
				<th>Type</th>
				<th>rsID</th>
				<th>Chromosome</th>
				<th>Child</th>
				<th>Father</th>
				<th>Mother</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@mutation.getMutationType()</td>
				<td>@mutation.getRsID()</td>
				<td>@mutation.getChromosome()</td>
				<td>@mutation.child()</td>
				<td>@mutation.father()</td>
				<td>@mutation.mother()</td>
			</tr>
		</tbody>
	</table>
	
	<h3>Protein relationships</h3>
	
	<script type="text/javascript">
		var initProteinsData = @Html(proteinsData);
	</script>
	
	<div class="visualisation-proteins-relations">
		<form class="form-inline" role="form">
			<a class="btn btn-default redraw">Redraw</a>
			<div class="form-group">
				<input type="text" class="form-control" id="limit" placeholder="Limit">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="threshold" placeholder="Threshold">
			</div>
			<a class="btn btn-default reload" data-patient="@patient.getId()" data-mutation="@mutation.getId()">Reload</a>
		</form>
		
		
		<div id="canvas"></div>
	</div>
	
	<h3>Proteins overview</h3>

	<table class="table-proteins table table-hover" id="table-proteins">
		<thead>
			<tr>
				<th>Name</th>
				<th>Annotations</th>
			</tr>
		</thead>
		<tbody>
			<tr class="no-proteins not-clickable" style="display:none"><td colspan="6">No related proteins found...</td></tr>
		</tbody>
	</table>
}