@(patient: Patient, mutations: List[Mutation], user: User)

@template_app("Patient " + patient.name + " " + patient.surname, user, "patients") {
		
	@if(flash.contains("mutation-not-found")) {
		<p class="bg-danger">
			@flash.get("mutation-not-found")
		</p>
	}
	
	<table class="table-mutations table table-hover clickable-rows">
		<thead>
			<tr>
				<th>Type</th>
				<th>rsID</th>
				<th>Chromosome</th>
				<th>Child</th>
				<th>Father</th>
				<th>Mother</th>
			</tr>
		</thead>
		<tbody>
		@if(mutations.length > 0){
			@for(mutation <- mutations) {
				<tr href="/patients/@patient.id/mutation/@mutation.id">
					<td>@mutation.sort</td>
					<td>@mutation.rsID</td>
					<td>@mutation.chromosome</td>
					<td>@mutation.child()</td>
					<td>@mutation.father()</td>
					<td>@mutation.mother()</td>
				</tr>
			}
		} else {
			<tr class="not-clickable"><td colspan="6">No mutations found...</td></tr>
		}
		</tbody>
	</table>
}