@(patients: List[Patient], user: User)

@template_app("Patients overview", user, "patients") {
		
	@if(flash.contains("patient-not-found")) {
		<p class="bg-danger">
			@flash.get("patient-not-found")
		</p>
	}
		
	@if(flash.contains("patient-added")) {
		<p class="bg-success">
			@flash.get("patient-added")
		</p>
	}
	
	<table class="table-patients table table-hover clickable-rows">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@for(patient <- patients) {
				<tr class="patient" data-patient="@patient.id" href="/patients/@patient.id">
					<td>@patient.id</td>
					<td>@patient.name</td>
					<td>@patient.surname</td>
					<td class="remove"><a class="remove-patient center-block text-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			}
			<tr class="no-patients not-clickable" @if(patients.length > 0){ style="display:none" }><td colspan="4">No patients found...</td></tr>
		</tbody>
	</table>
	
	<p><a href="/patients/add" class="btn btn-primary" role="button">Add new patient</a></p>
	
}