@(title: String, user: User, nav: String)(content: Html)

@import scala.collection.immutable.Map

@template(title, user) {	

		<div class="template-app container-fluid">
			<div class="row">
				<div class="sidebar col-sm-3 col-md-2">
					<ul class="nav nav-sidebar">
						@for((url,item) <- Map(
								"dashboard" -> "Overview",
								"patients" -> "Patients"
							)) {
							<li @if(url.equals(nav)){class="active"}><a href="/@url">@item</a></li>
						}
					</ul>
				</div>
				<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
					<h1 class="page-header">@title</h1>
					<div class="page-content">
						@content
					</div>
				</div>
			</div>
		</div>
	
}