@(title: String, user: User)(content: Html)

@template(title, user) {	

		<div class="template-app container-fluid">
			<div class="row">
				<div class="sidebar col-sm-3 col-md-2">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="/dashboard">Overview</a></li>
						<li><a href="/reports">Reports</a></li>
						<li><a href="/analytics">Analytics</a></li>
						<li><a href="/export">Export</a></li>
					</ul>
				</div>
				<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
					<h1 class="page-header">@title</h1>
					<div class="page-content">
						@content
					</div>
				</div>
			</div>
		</div>
	
}