<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>GEVATT | GEnetic Variations Analyzer Through Triodata - Home</title>
    </head>
    <body>
        <h1 th:inline="text">Welkom [[${#httpServletRequest.remoteUser}]]!</h1>  
        <ul>
	        <li><a th:href="@{/upload}">Voeg patiënt toe.</a></li>
	        <li><a th:href="@{/}">Doe iets anders.</a></li>
	        <li><a th:href="@{/}">Doe nog iets anders.</a></li>
        </ul>
        <form th:action="@{/logout}" method="post">
        	<input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>